$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/lib/bootstrap";

/* Put your CSS here */
html, body {
  margin: 20px;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.add-drinker {
    position: absolute;
    top: 1em; right: 1em;
}

// For our Drinkers

.drinkers .drinker {
    // float: left;
    // width: 25%;
    // height: 200px;
}